%hr.divider

.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    Resources

  .row
    .column.item.resources
      .description
        Security
        %a{ href: "https://youtu.be/U2_dqwTRUVk" }
          Dashboard demo
      .description
        Deep Dive into a 
        %a{ href: "https://youtu.be/k4vEJnGYy84" }
          Security demo
      .description
        %a{ href: "https://docs.gitlab.com/ee/user/application_security/secret_detection/" }
          Secret Detection
      .description
        See how we
        %a{ href: "https://about.gitlab.com/devops-tools/" }
          compare
        against other 
        Security tools

%hr.divider
