---
layout: handbook-page-toc
title: Secure Frontend
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


### Secure Frontend

The Secure Frontend team supports multiple groups beneath the [Secure sub-department](/handbook/engineering/development/secure).

### Team members

<%= direct_team(role_regexp: /[,&] Secure/, manager_role: 'Frontend Engineering Manager, Secure') %>

### How to work with us

Given the number groups this team supports, we prefer to be aware of upcoming features as early as possible. During the time leading up to implementation we will strive to:

1. Understand the problem we are trying to solve.
1. Collaborate with the appropriate Backend team, Product Management and UX to identify an achievable MVC.
1. Work with the various Product Managers we support to understand relative priority.

We seek to have issues ready for backlog refinement activities by the 1st of each month, therefore allowing enough time for us to determine the 
appropriate implementation plan and finalize relative sizing of the candidate issues in a given release.

### Indicating Status and Raising Risk

All Deliverable issues should be marked `On Track` at the beginning of a milestone. If there is concern with doing so, then we should discuss why.
Issues that have not gone into review by the 8th may not have enough time to get merged. These should be considered Needs Attention or At Risk depending on their complexity and other factors.

Raising risk early is important. The more time we have, the more options we have.  Follow these steps when raising or downgrading risk:

1. Update the Health Status in the issue:
    1. `On Track` - there is no indication the work won't get merged by the 15th.
    1. `Needs Attention` - the issue is blocked or has other factors that need to be discussed.
    1. `At Risk` - the issue is in jeopardy of missing the merge cutoff of the 15th.
1. Add a comment about why the risk has increased or decreased.
1. Copy the Frontend Engineering Manager and Product Manager in a comment.
1. Copy the Backend Engineering Manager if there is associated backend work that may be impacted.

Note that an issue probably shouldn't go directly from On Track to At Risk.  Consider a progression: `On Track -> Needs Attention -> At Risk`.


### Issue Boards

* [Delivery Workflow Board](https://gitlab.com/groups/gitlab-org/-/boards/1888372?label_name[]=devops%3A%3Asecure&not[label_name][]=group%3A%3Athreat%20insights&label_name[]=frontend&milestone_title=13.7) shows issues across workflow stages for a milestone.
* [Assignee Distribution Board](https://gitlab.com/groups/gitlab-org/-/boards/943056?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=frontend&label_name[]=devops%3A%3Asecure&milestone_title=13.7) shows open issues distributed by assignee.
* [Assignee Distribution App](https://nmccorrison.gitlab.io/issue-dashboard/#/13.7/farias-gl,markrian,djadmin,pgascouvaillancourt,jannik_lehmann) is a work in progress Vue app used for milestone/capacity planning, health status analysis and progress review.
* [Refinement Issues List](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Asecure&label_name[]=frontend&not[label_name][]=group%3A%3Athreat%20insights&label_name[]=secure%3Arefinement-frontend) shows issues that need refinement.

### Reaching out to us

* [#s_secure-frontend] channel in Slack
* @secure_fe for notifications in Slack
* [@gitlab-org/secure/frontend] for notifications in GitLab


[#s_secure-frontend]: https://gitlab.slack.com/archives/s_secure-frontend
[@gitlab-org/secure/frontend]: https://gitlab.com/groups/gitlab-org/secure/frontend/-/group_members?with_inherited_permissions=exclude

