---
layout: markdown_page
title: "Jenkins"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

<!------------------Begin page additions below this line ------------------ -->

## On this page
{:.no_toc}

- TOC
{:toc}

## Jenkins-GitLab Comparison Infographic

Here's an infographic that compares Jenkins and GitLab.  More detailed comparisons and commentary on strenghts, gaps etc. are in sections below.

![GitLab Jenkins Comparison Chart](/devops-tools/jenkins/images/GitLab-vs-Jenkins.jpg)

<div class="sdlc-component-container">
  <%# <%= partial("includes/sdlc_comparison_tabs_vue_temp", :locals => { :source => "cloudbees_jenkins_electric_cloud" }) %>
</div>

## Jenkins Overview
Jenkins is one of the most popular self-managed open source build automation and CI/CD developer tool in the world. It derives it's incredible flexibility from incorporating capabilities from it's hundreds of available plugins, enabling it to support building, deploying and automating any project.

It's important to understand that Jenkins is not the same as CloudBees.  CloudBees is the company that primarily maintains Jenkins.  The four products used by the Jenkins community are:

* Jenkins Open Source
* Jenkins X
* CloudBees Jenkins Distribution
* CloudBees Core

**Jenkins Open Source** natively supports application building, artifact packaging, applicaton testing and pull request.  Extending the native functionality of Jenkins to support Continous Delivery is done through plugins.

**Jenkins X** is meant to make running a pipeline out of the box with Kubernetes easier.  Jenkins X natively integrates Jenkins CI/CD server, Kubernetes, Helm, and other tools to offer a prescriptive CI/CD pipeline with best practices built-in, such as using GitOps to manage environments. It uses deployment of Jenkins into Kubernetes containers to get around the complexities of installing and integrating Jenkins. However, it is a complex pairing of many tools including the fragile Jenkins server.

**CloudBees Core** is is a distinct product built on top of open source Jenkins and is a paid tool.  CloudBees CI has two components - the Client Master and the Operations Center. The Client Master is a Jenkins master, whose main function is to coordinate the building of projects such as Pipelines.  When a CloudBees CI installation consists of two or more Client Masters, it is usually a good idea to install an Operations Center instance to manage these Client Masters.

**CloudBees Jenkins Distribution** is a free software that provides a developers with a Jenkins envirionment build on the most recent supported Jenkins release. The distribution comes with a recommended catalog of tested plugins available through the CloudBees Assurance Program.

## Common Jenkins personas and roles

* Software Developer
    * Sasha (Development Tasks, Sprints, Bugfix, some Jenkins tasks)
* "DevOps” roles (Engineer, Manager)
    * Devon (Coding, Deployments)
* Jenkins Administrator
    * Sidney (Like a system admin dedicated to Jenkins)

## Jenkins to GitLab Decision Kit

Developing and executing on a "Jenkins move forward strategy" is tough.  GitLab understands that.  Here are a list of resources that will help you make informed decisions.

* [Jenkins Gaps](https://about.gitlab.com/devops-tools/jenkins/Jenkins-Gaps.html)

* [GitLab Over Jenkins Key Differentiators](https://about.gitlab.com/devops-tools/jenkins/Jenkins-GitLab-Differentiators.html)

* [Jenkins Strenghts over GitLab](https://www.youtube.com/watch?v=3Wr3O6mY5VE&feature=youtu.be)

* [Questions and Concerns You May Have](https://about.gitlab.com/devops-tools/jenkins/Jenkins-Questions-Concerns.html)

* [Jenkins License Overview](https://about.gitlab.com/devops-tools/jenkins/Jenkins-License.html)

* Migrate from Jenkins to GitLab
    * [Jenkins Migration Services Blog](https://about.gitlab.com/services/migration/)

    * [Conversion Video](https://www.youtube.com/watch?v=RlEVGOpYF5Y&feature=youtu.be)

    * [Jenkins Importer Blog](https://about.gitlab.com/direction/verify/jenkins_importer/)

    * [GitLab Docs](https://docs.gitlab.com/ee/ci/migration/jenkins.html)

* [GitLab blog on Jenkins CI](https://about.gitlab.com/blog/2018/09/03/how-gitlab-ci-compares-with-the-three-variants-of-jenkins/)

* [Jenkins News Markers](https://about.gitlab.com/devops-tools/jenkins/Jenkins-News-Markers.html)

* [How GitLab CI supported Ticketmaster's ramp up to weekly mobile releases](https://about.gitlab.com/blog/2017/06/07/continous-integration-ticketmaster/)

* [How Hotjar deploys 50% faster with GitLab ](https://about.gitlab.com/customers/hotjar/)


## Additional Resources
* [Jenkins OSS Website](https://jenkins.io/) - Open Source project website
* [CludBees Jenkins Website](https://www.cloudbees.com/products/cloudbees-core)
* [Jenkins X Website](https://jenkins-x.io/)


## Comparison
