---
layout: handbook-page-toc
title: "Ops Section"
---

<% section_name = 'Ops Section' %>
<% section_id = 'ops' %>
<% section_groups = ['Verify:CI Group','Verify:Pipeline Authoring Group','Verify:Runner Group','Verify:Testing Group','Package Group','Release:Progressive Delivery Group','Release:Release Management Group','Configure Group','Monitor:Health'] %>

#### On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

{: #welcome}

## What we cover

## Who we are

There are XX team members in the Ops Section.

### Ops Section Wide
The following people work as part of the Ops Section but outside a specific product group.

<%= department_team(base_department: section_name, remove_departments: section_groups) %>

### Product Groups
Here are the individuals who work as part of one of the Ops Section groups.

<% section = Gitlab::Homepage::Section.all!.find{|section| section.key == section_id} %>
<% section.stage_list.each do |stage| %>
   <% stage.group_list.each do |group| %>
<%="#### #{group.name}" %>
<%= partial('includes/product/group_table', locals: {group: group} ) %>
   <% end %>
<% end %>

## Section structure
The section is covered by groups from teams across two primary departments, Engineering and Product. Teams and team members from those departments have their own handbook pages linked below.

* Engineering
   * [Development](/engineering/development/)
      * [Configure & Monitor Sub-department](/handbook/engineering/development/ops/)
      * [CI/CD Sub-department](/handbook/engineering/development/ops/)
   * [UX](/handbook/engineering/ux/#team-structure)
      * [CI/CD UX](/handbook/engineering/ux/stage-group-ux-strategy/ci-cd/)
         * [Verify UX](/handbook/engineering/ux/stage-group-ux-strategy/verify/)
         * [Release UX](/handbook/engineering/ux/stage-group-ux-strategy/release/)
         * [Package UX](/handbook/engineering/ux/stage-group-ux-strategy/package/)
      * Configure and Monitor UX
         * Configure UX (TBD)
         * Monitor UX (TBD)
   * [Quality](/handbook/engineering/quality/#quality-engineering-structure)
* Product
   * You can ping all Ops Section Product Managers in an issue using the `@gl-ops-section-pms` group.

## Investment Allocation
The [product groups](/company/team/structure/#product-groups) within the Ops Section are outlined in the [product categories page](/handbook/product/categories/#ops-section).

The product department determines our [investment](/handbook/product/investment/) within the section by allocating headcount for development team members to product groups. While doing so we adhere to the following principles:
* All product groups will maintain at least a 1:1:1 ratio between three primary DRIs - Product Managers, Product Designers and Engineering Managers.
* We don't currently maintain 1:1:1:1 ratio for the additional Software Engineer in Test (SET) DRI but desire to have singular stable-counterparts between SETs and product groups.
* We will strive to maintain at least 6 developers (FE + BE) in each product group

## Meetings

## Ops Section Product Group AMAs (Expiremental)
Every other Tuesday at 9am Pacific a [product group](#product-groups) from the Ops Section hosts a 30 minute, public, synchronous and live-streamed AMA.

### Intent
The intent of these AMAs is to:
1. Encourage interaction with interested stakeholders and community members
1. Encourage understanding of recent accomplishments and exciting things coming from each group
1. Celebrate successes and communicate the group's vision

### Process

#### Content
No content prep is required. We will host an AMA with an agenda that has a single link to the groups handbook page followed by questions from attendees.

#### Schedule 

The schedule for upcoming Ops Section Product Group AMAs is:

|Date          | Group               |
|--------------|---------------------|
| 2020-12-01   | Package:Package     |
| 2020-12-15   | Monitor:Monitor     |
| 2021-01-12   | Configure:Configure |

You can find the [recurring event](https://calendar.google.com/event?action=TEMPLATE&tmeid=N245M3BjdXNmM2Y0MDg1czJoZWw2MTcxOWZfMjAyMDEyMDFUMTcwMDAwWiBnaXRsYWIuY29tXzZlZXFmZXJyM3UxZnI3MjZzcTM1MmNkOG5jQGc&tmsrc=gitlab.com_6eeqferr3u1fr726sq352cd8nc%40group.calendar.google.com&scp=ALL) in the [Ops Section Calendar](https://calendar.google.com/calendar/u/0?cid=Z2l0bGFiLmNvbV82ZWVxZmVycjN1MWZyNzI2c3EzNTJjZDhuY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t). 

### Success
We'll measure the succes of this expiremental meeting based on the number of attendees and number of questions asked from outside the group during the AMAs.

## Ops Section Manager Meetings
Every Monday at 9:00am Pacific, the Managers in [Ops Section Wide](#ops-section-wide) roles for the Development, UX, Quality and Product Management Departments are invited to attend the Ops Section Manager Meeting. The invite is in the [Ops Section calendar - GitLab internal](https://calendar.google.com/calendar?cid=Z2l0bGFiLmNvbV82ZWVxZmVycjN1MWZyNzI2c3EzNTJjZDhuY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t).

### Intent
The intent of this meeting is to:
1. Build strong collaboration between section department leaders
1. Ensure section department leaders are aware of and setting direction and priorities
1. Checkin on cross-functional product group performance across Development, Product, UX and Quality performance indicators and OKRs

### Process
The agenda for the meeting is [here - GitLab internal](https://docs.google.com/document/d/1NPzpJGlW9kP5TE1p8dJKingacRiY7K6Y42UYgKusrxg/edit#heading=h.f5kx67gg9rdc).

1. At the start of each meeting we will spend no more than 5 minutes briefly going through each team members [1 to 5s](https://gitlab.com/kencjohnston/README/-/blob/master/README.md#1-to-5s)
1. Other items can be added to the agenda for subsequent discussion
1. On a monthly rotation - we discuss each department's performance indicators and OKRs as well as each group's performance across PIs and relevant OKRs

### Function Based Performance Indicators (PI) Review
On a monthly basis we discuss each department's (Product, Development, Quality, UX) performance indicators with an eye towards enabling department performance improvements by improving how we interact across departments.
The content and scheduling for these monthly reviews are:

* Product PIs ([Handbook Page](/handbook/product/ops-section-performance-indicators/) / [Notes](https://docs.google.com/document/d/1ff7V_SRdJDYWzfCMAFLGYWxrMHAlTds4No6ROQZP2jo/edit#)) - First Monday
* Engineering (Development, UX, Quality) PIs ([Handbook Page](https://about.gitlab.com/handbook/engineering/development/performance-indicators/ops/)) - Second Monday

### 5x5s
In order to satisfy intent `#1` - we'll start the meeting series by doing a weekly rotation of 5x5s - five minute presentations on five slides introducing yourself to the rest of the team.

## Ops PM Meeting
Every Tuesday alternating weekly between European Availability (5:30 AM Pacific) and Pacific Availability (11:30 AM Pacific) we hold an Ops Section PM Meeting. Any Gitlab team member is invited to attend, just ask for the invite in the #ops-section.
* [Agenda - internal](https://docs.google.com/document/d/19JO_AKtTF1vOyEqRreHHL5DPibtKfPa1dRjOryu8wp8/edit)
* Recordings
  * [European Friendly - internal](https://drive.google.com/drive/u/0/folders/19L8RUu4hQ2ZoiLaHFMUSdmngQJXfRmXk)
  * Pacific Friendly - TBD

### Intent
The intent of this meeting is to:
1. Identify cross-stage opportunities that will benefit our users
1. Share what is working to deliver better product performance indicators
1. Provide a place to discuss ops section wide concerns

### Process
In order to satisfy the above intent, we:
1. Provide read-only content for upcoming features and exciting recently delivered features
1. Voice over what is working well or tips-and-tricks to share with other groups (with the desire to provide handbook homes for them)
1. Have an open agenda for discussion of section wide concerns

## Ops PM Process (Experimental)
This section documents experimental PM process used in the Ops Section that isn't incorporated into the [Product Process handbook](/handbook/product/product-processes/) which covers all sections. 

### Competitive Assessment Sharing

####  Intent
The intent is to share more competitive understanding amongst Ops Section Product managers.

#### Competitive Assessment Sharing - Process
Ops Section PMs maintain a personal Epic for their future [competitive analysis issues](/handbook/product/product-processes/#competitive-analysis-issues) and record [walk-through](/handbook/product/product-processes/#walk-through) style videos of their top priority assessment once per quarter at any time. Because of the competitive nature of this assessment the issues are left public but the videos are posted privately to YouTube. They will post the videos and issues to the `#ops-section` slack channel and ping `@gl-ops-section-pms` on the issues when completed. 

#### Success
We'll consider this experiment a success if it encourages collaboration and understanding amongst PMs. After one quarter, we'll measure success by amount of engagement by Ops Section PMs in the issues and slack posts in the form of comments.

## Ops Section Recent News, Milestones, Accomplishments and Exciting Things

### Recent News
1. We're working to increase [Auto DevOps Adoption](https://gitlab.com/gitlab-com/Product/-/issues/1801) 
1. Our [Testing Group recently became a combined team](https://gitlab.com/gitlab-com/www-gitlab-com/-/merge_requests/68866)=

### Exciting Things
1. [Ops Section Product PI Review Highlights](https://gitlab.com/gitlab-com/Product/-/issues/1929#note_482875721)
1. [Ops Section 13.9 Kickoff Highlights](https://gitlab.com/gitlab-com/Product/-/issues/1944#note_488766450)

### Recent Accomplishments
<%= partial("includes/product/highlights", :locals => { :stages => ['verify','package','release','configure','monitor'] }) %>

## References
* [Product categories](/handbook/product/categories/#ops-section)
* [Direction](/direction/ops/)
* [Maturity](/direction/maturity/)
